@import "tailwindcss";


 body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

 @import url("https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&display=swap");

@theme{
  --font-heading: Michroma, sans-serif;
  --color-primary:#161647

}





 @layer components {
    .btn {
      @apply bg-[#161647] text-white h-[40px] w-[110px] text-center flex items-center justify-center cursor-pointer;
    }
  
    .btn:hover {
      @apply opacity-75;
    }
  
    .btn-white {
      @apply bg-white text-[#161647] text-[12px] md:text-[18px] h-[25px] w-[80px]  md:h-[40px] md:w-[110px] text-center flex items-center justify-center cursor-pointer;
    }
  
    .btn-white:hover {
      @apply opacity-75;
    }
    .slider {
      @apply flex overflow-x-auto h-[138px] w-full;
    }
    
    /* Make scrollbar very thin but still draggable */
    .slider::-webkit-scrollbar {
      width: 4px;  /* Keep a small width for dragging */
      height: 4px;
    }
    
    /* Hide the scrollbar visually */
    .slider::-webkit-scrollbar-thumb {
      background: transparent; /* Make the thumb (handle) invisible */
    }
  }