@import "tailwindcss";


 html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}

 @import url("https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&display=swap");

@theme{
  --font-heading: Michroma, sans-serif;
  --color-primary:#161647
}





 @layer components {

  .btn {
      @apply bg-[#161647] text-white text-[12px] md:text-[18px] h-[25px] w-[80px] md:h-[40px] md:w-[110px] text-center flex items-center justify-center cursor-pointer;
    }
  
    .btn:hover {
      @apply opacity-75;
    }
  
    .btn-white {
      @apply bg-white text-[#161647] text-[12px] md:text-[18px] h-[25px] w-[80px]  md:h-[40px] md:w-[110px] text-center flex items-center justify-center cursor-pointer;
    }
  
    .btn-white:hover {
      @apply opacity-75;
    }
    .slider {
      @apply flex overflow-x-auto h-[138px] w-full overflow-y-hidden;
    }
    
    /* Make scrollbar very thin but still draggable */
    .slider::-webkit-scrollbar {
      width: 4px;  /* Keep a small width for dragging */
      height: 4px;
    }
    
    /* Hide the scrollbar visually */
    .slider::-webkit-scrollbar-thumb {
      background: transparent; /* Make the thumb (handle) invisible */
    }
  }